<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%  url 'base:home' %}">Fitness App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Fitness App</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%  url 'base:home' %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.first_name|title}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'base:userprofile' request.user.pk %}">My Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'base:user_edit' request.user.pk %}">Edit Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'base:logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'base:login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex mt-3" role="search" action="{% url 'base:home' %}" method="get">
            <input class="form-control me-2" type="search" placeholder="Search......" aria-label="Search" name="search">
            <a class="btn btn-outline-success" type="submit" >Search</a>
          </form>
        </div>
      </div>
    </div>
  </nav>